body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: bisque;
    background-size: cover;
}

#board{
    background-color: white;
    border-bottom: 1px solid rgb(71, 49, 49);
}